# Credentials (change this)
DISCORD_TOKEN="<add-your-bot-discord-token>"

# Configuration (change these if you want)
COMMAND_PREFIX="!"
BOT_PROFILE_SYNC_ENABLED="true"
# BOT_NAME="TidalCordRS"
# BOT_AVATAR_PATH="<path-to-custom-avatar>"
TZ="UTC"

# Technical Configuration (only change these if you know what you're doing)
SPOOL_READ_AHEAD_MIB="16"
COLLECTION_TRACK_FETCH_CONCURRENCY="8"
BOT_PROFILE_STATE_PATH="data/bot_profile_state.json"
TIDAL_TOKEN_SESSION_PATH="data/tidal_token.json"
TIDAL_CLIENT_ID="fX2JxdmntZWK0ixT"
TIDAL_CLIENT_SECRET="1Nm5AfDAjxrgJFJbKNWLeAyKGVGmINuXPPLHVXAvxAg="
USER_AGENT="Mozilla/5.0 (Linux; Android 10; uis8581a2h10_Automotive) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.101 Safari/537.36"
OAUTH_DEVICE_AUTH_URL="https://auth.tidal.com/v1/oauth2/device_authorization"
OAUTH_TOKEN_URL="https://auth.tidal.com/v1/oauth2/token"
SESSIONS_URL="https://api.tidal.com/v1/sessions"
SEARCH_URL="https://api.tidal.com/v1/search"
